{% extends 'base.html' %}
{% block content %}
  <h1>articles</h1>
  <hr>
    <h3> {{ article.pk }}번째 글</p>
    <p> 글 제목: {{ article.title }}</p>
    <p> 글 내용: {{ article.content }}</p>
    <p> 작성 시간: {{ article.created_at }}</p>
    <p> 수정 시간: {{ article.updated_at }}</p>
    <form action="{% url 'articles:delete' article.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="삭제">
    </form>
    <hr>
    <a href="{% url 'articles:update' article.pk %}">edit</a>
    <a href="{% url 'articles:index' %}">back</a>
{% endblock content %}