{% extends 'base.html' %}
{% block content %}
  <h1>{{ person.username }}님의 프로필</h1>
  <hr>
  <h5>{{ person.username }}님의 게시글</h5>
  {% for article in person.article_set.all %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.content }}</p>
        <a href="{% url 'articles:detail' article.pk %}" class="btn btn-primary">자세히 보기</a>
      </div>
    </div>
    {% comment %}
      
    {% endcomment %}
  {% endfor %}

  <hr><br>

  <h5>{{ person.username }}님이 좋아하는 게시글</h5>
  {% for article in person.like_articles.all %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.content }}</p>
        <a href="{% url 'articles:detail' article.pk %}" class="btn btn-primary">자세히 보기</a>
      </div>
    </div>
  {% endfor %}

  <hr><br>

  <a href="{% url 'articles:index' %}" class="btn btn-success">목록보기</a>


{% endblock content %}


